/* :root {
  font-size:0.625%;
}

body {
  font-size: 1.6rem;
}
 */
h1,
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
}

button {
    height: 50px;
    width: 200px;
}

 .game-container {
  display: flex;
  align-items: center;
  justify-content: center;
} 
/* Set fix height and width*/
#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
}
