h1,
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
}

button {
    height: 50px;
    width: 200px;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

